@model IEnumerable<Pie>

<div>
    @foreach (var p in Model)
    {
        <span>
            <h2>@p.Name</h2>
            <br>
            <h4>@p.Description</h4>
            <br>
        </span>
    }
</div>

<form action="@Url.Action("List")" method="get">
    <label for="categoryId">Unesite ID kategorije:</label>
    <input type="text" name="categoryID" />
    <input type="submit" value="Filtriraj" />
</form>

<h2>Pregled svih Pita</h2>

<table border="1">
    <tr>
        <th>Pie ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Type</th>
    </tr>
    @foreach (var pie in Model)
    {
        <tr>
            <td>@pie.PieId</td>
            <td>@pie.Name</td>
            <td>@pie.Description</td>
            <td>@pie.Price</td>
            <td>@pie.Category.CategoryName</td>
        </tr>
    }
</table>