@using PizzaShop.Models
@model User

<h3 class="mt-5">Lista vasih porudzbina:</h3>

@{
    <table class="table table-light table-bordered mt-3">
        <tr class="table-dark">
            <th>Vreme porudzbine</th>
            <th>Id porudzbine</th>
            <th>Ime</th>
            <th>Adresa</th>
            <th>Pizza</th>
            <th>Kolicina</th>
            <th>Cena</th>
            <th>Ukupna cena</th>
        </tr>

        @foreach (var order in Model.Orders)
        {
            var firstOrderDetail = order.OrderDetails.FirstOrDefault();

            if (firstOrderDetail != null)
            {
                <tr>
                    <td class="align-middle" rowspan="@order.OrderDetails.Count()">@order.OrderPlaced</td>
                    <td>@firstOrderDetail.OrderId</td>
                    <td class="align-middle" rowspan="@order.OrderDetails.Count()">@Model.FirstName @Model.LastName</td>
                    <td class="align-middle" rowspan="@order.OrderDetails.Count()">@order.Address, @order.City, @order.Country</td>
                    <td>@firstOrderDetail.Pizza.Name</td>
                    <td>@firstOrderDetail.Amount</td>
                    <td>@((firstOrderDetail.Price * @firstOrderDetail.Amount).ToString("c"))</td>
                    <td class="align-middle" rowspan="@order.OrderDetails.Count()">@order.OrderTotal.ToString("c")</td>
                </tr>

                @foreach (var orderDetail in order.OrderDetails.Skip(1))
                {
                    <tr>
                        <td>@orderDetail.OrderId</td>
                        <td>@orderDetail.Pizza.Name</td>
                        <td>@orderDetail.Amount</td>
                        <td>@orderDetail.Price.ToString("c")</td>
                    </tr>
                }
            }
        }
    </table>
}
