@using PizzaShop.ViewModels;
@model ShoppingCartViewModel

<h3 class="my-5">
    Shopping cart
</h3>


<div class="row gx-3">
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="ClearCart">Ukloni sve iz korpe</a>
    </div>

    <div class="col-8">
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <div class="card shopping-cart-card mb-2">
                <div class="row">
                    <div class="col-md-4">
                        @if (string.IsNullOrEmpty(line.Pizza.ImageThumbnailUrl))
                        {
                            <img src="~/images/products/defaultPizza.jpg" class="img-fluid rounded-start p-2" alt="@line.Pizza.Name">
                        }
                        else
                        {
                            <img src="@Url.Content(line.Pizza.ImageThumbnailUrl)" class="img-fluid rounded-start p-2" alt="@line.Pizza.Name">
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-text">@line.Amount x @line.Pizza.Name</h5>
                            <div class="d-flex justify-content-between">
                                <h6>@line.Pizza.ShortDescription</h6>
                                <h2>@line.Pizza.Price.ToString("c")</h2>
                            </div>
                        </div>
                        <div class="text-end me-3">
                            <a class="btn btn-danger " asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pizzaId="@line.Pizza.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="card shopping-cart-card p-3">
            <div class="row">
                <h4 class="col">Total:</h4>
                <h4 class="col text-end">@Model.ShoppingCartTotal.ToString("c")</h4>
            </div>
            <hr />
            <div class="text-center d-grid">
                <a class="btn btn-secondary" asp-action="Checkout" asp-controller="Order"><h4>Kupi sada!</h4></a>
            </div>
        </div>
    </div>
</div>