@model Pizza

<div class="col">
    <div class="card pizza-card">
        <img class="card-img-top" src="@Url.Content(Model.ImageThumbnailUrl)" alt="@Model.Name">
        <div class="card-body">
            <h4 class="card-title">
                @Model.Name
            </h4>
            <p class="card-text">
                @Model.ShortDescription
            </p>
            <a asp-controller="Pizza"
            asp-action="Details"
            asp-route-id="@Model.Id" class="btn btn-primary">Pogledaj detalje</a>
        </div>
    </div>
</div>